{% extends "_global/index.html" %}

{% block main %}

<form class="halls-form col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6" method="POST" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                    Add a Hall
            </div>
    <div class="card-body">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required pattern=".*[^\s]{3,}.*">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" class="form-control" required pattern=".*[^\s]{3,}.*">
        </div>
        <div class="form-group">
                <label for="seats">Seats:</label>
                <input type="text" id="seats" name="seats" class="form-control" required>
        </div>
        <div class="form-group">
                <label for="type">Type:</label>
                <input type="text" id="type" name="type" class="form-control" required>
        </div>
        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="wifi" name="wifi">
                <label class="custom-control-label" for="wifi">Wifi</label>
        </div>
        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="rostrum" name="rostrum">
                <label class="custom-control-label" for="rostrum">Rostrum</label>
        </div>
        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="surroundSound" name="surroundSound">
                <label class="custom-control-label" for="surroundSound">Surround Sound</label>
        </div>
        <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="projector" name="projector">
                <label class="custom-control-label" for="projector">Projector</label>
        </div><br>
        <div class="form-group">
                <label for="image">Upload an image</label>
                <input type="file" id="image" name="image" required class="form-control" accept="image/jpeg">
        </div>
    </div>
        
                
        <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                    Add Hall
                </button>
            </div> 
        
            <div class="back text-center">
                    <a href="{{ BASE }}administrator/halls">Back to Profile screen</a>
            </div> 
                   
        </div>
    </form> 

{% endblock %}