{% extends "_global/index.html" %}

{% block main %}
<div>
    EDIT A HALL
    <div class="options">
        <a href="{{ BASE }}administrator/halls">List all Halls</a>
    </div>

    <form class="halls-form" method="POST">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" value="{{ hall.name|escape }}">
            <label for="description">Description: </label>
            <input type="text" id="description" name="description" value="{{ hall.description|escape }}">
        </div> 
        
        <div>
            <button type="submit">
                Edit Hall
            </button>
        </div>
    </form>
        
</div>

 

{% endblock %}