{% extends "_global/index.html" %}

{% block main %}

<form class="halls-form col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6" method="POST" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                    Reserve a Hall
            </div>
    <div class="card-body">
        <div class="form-group">
            <label for="hall_name">Select a Hall:</label>
            <select type="form-control" id="hall_name" name="hall_name" class="form-control" required>
                {% for hall in halls %}
                <option value="{{ hall.hall_id }}">
                    {{ hall.name|escape }}
                </option>"
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="event_type">Select an event type:</label>
            <select type="form-control" id="event_type" name="event_type" class="form-control">
                {% for eventType in eventTypes %}
                <option value="{{ eventType.type_id }}">
                    {{ eventType.name|escape }}
                </option>"
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
                <label for="event_name">Name:</label>
                <input type="text" id="event_name" name="event_name" class="form-control" required pattern=".*[^\s]{3,}.*">
        </div>
        <div class="form-group">
                <label for="event_date">Check this Hall availability by selecting a date:</label>
                <input type="date" id="event_date" name="event_date" class="form-control">             
        </div>
    </div>
             
    <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                Reserve Hall
            </button>
        </div> 
    
        <div class="back text-center">
                <a href="{{ BASE }}administrator/halls">Back to Profile screen</a>
        </div> 
                
    </div>
</form> 

{% endblock %}