{% extends "_global/index.html" %}

{% block main %}
<div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edit a Hall</h5>
              <p class="card-text">To edit an existing hall, select one of the halls listed below:</p>
              <ul class="list-group list-group-flush">
                    {% for hall in halls %}
                    <li class="list-group-item">    <a href="{{ BASE }}administrator/halls/edit/{{ hall.hall_id }}">
                            {{ hall.name|escape }}
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add a Hall</h5>
              <p class="card-text">To add a new hall, click on the Add button.</p>
              <a href="{{ BASE }}administrator/halls/add" class="btn btn-primary">Add</a>
            </div>
            <br>
            <div class="card-body">
                <h5 class="card-title">Reserve a Hall</h5>
                <p class="card-text">To reserve a hall, click on the Reserve button.</p>
                <a href="{{ BASE }}administrator/halls/reserve" class="btn btn-primary">Reserve</a>
              </div>
          </div>
        </div>
      </div>
    
{% endblock %}