{% extends "_global/index.html" %}

{% block main %}

<div class="card text-center">
        <div class="card-header">
            Contact us!
        </div>
        <div class="card-body">
        <p class="card-text">To book a hall, please choose a contact method bellow. 
            It is a practice that we talk with our clients so that we may best suggest
            an adequate hall for the occasion and explain all necessary details.</p>
          <h5 class="card-title">Contact Info</h5>
          <p class="card-text">+381691337101</p>
          <p class="card-text">bogdan.nikic.14@singimail.rs</p>
          <p class="card-text">milos.malesevic.14@singimail.rs</p>
        </div>
</div>

{% endblock %}