{% extends "_global/index.html" %}

{% block main %}
<div class=hall-title>
        {{ hall.name|escape }}
</div>

<img src="#" alt="Prva slika" class="hall-image-1">
<img src="#" alt="Druga slika" class="hall-image-2">
<img src="#" alt="Treca slika" class="hall-image-3">

<div class=hall-description>
        {{ hall.description|escape }}
</div>
    <ul class=features-list>
        <div class=features-title>
                Features:
        </div>
        {% for i in 0..features|length-1 %}
            <li class="hall-show">                
                {% if hallFeatures[i].value is not null %}              
                    <p>{{ hallFeatureNames[i].name }}: {{ hallFeatures[i].value }}</p>
                {% else %}
                    <p>{{ hallFeatureNames[i].name }}</p>
                {% endif %}
        {% endfor %} 
    </ul>
    
    
    
{% endblock %}

{% block naslov%}
{{ hall.name|escape }}
{% endblock %}